@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto', sans-serif;
}

.IP{
    align-items: center;
}

.botao-copiar{
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.botao-loja{
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.botao-quem-somos{
    cursor: pointer;
    background-color: purple;
    color: white;
    border-radius: 10px;
}

.botao-loja:hover{
    opacity: 0.5;
}

.botao-quem-somos:hover{
    opacity: 0.5;
}

.botao-copiar:hover{
    opacity: 0.5;
}
